# web
fastapi==0.116.1
pydantic==2.11.7
requests==2.32.5
uvicorn[standard]==0.35.0

# telephony
twilio==9.7.1

# LiveKit
livekit==1.0.12
livekit-agents==1.2.6
livekit-plugins-cartesia==1.2.6
livekit-plugins-deepgram==1.2.6
livekit-plugins-noise-cancellation==0.2.5
livekit-plugins-openai==1.2.6
livekit-plugins-silero==1.2.6
livekit-plugins-turn-detector==1.2.6

# email
email-validator==2.2.0
sendgrid==6.12.4

# other
python-dotenv==1.1.1
SQLAlchemy==2.0.43